# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/*.key
/.env
/.env.*
/public/hot
/public/storage
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views

# IDE / Editor
.vscode/
.idea/

# Mac OS
.DS_Store

# Log files
*.log
